{% load bulma_tags %}
{% load static bulma_tags %}
{% load static %}

{% include 'barra_navegacion.html' %}

<div class="error">

    <h1>¡Horror! Se ha producido un error</h1>

    <p>Los sentimos, pero no tienes acceso a esta página</p>
</div>

<style>
    .error{
        background-image: url("https://media1.tenor.com/m/fqeUVAFCPmIAAAAC/no-puedes.gif");
        background-size: cover;
        min-height: 600px;
        margin-bottom: 0;
    }

    .error > h1   {
        color:lightseagreen;
        text-align: center;
        font-size: 50px;
        font-weight: bolder;
    }

     .error > p   {
        color:lightseagreen;
        text-align: center;
        font-size: 50px;
        font-weight: bolder;
    }
</style>

{% include 'pie_pagina.html' %}