{% load bulma_tags %}
{% load static bulma_tags %}
{% load static %}

<html>

<head>
    <meta charset="UTF-8">
    <title>XtremeSoft</title>
    <link rel="stylesheet" href="{% static  '/css/xtremesoft_estilos.css' %}/">

    {% block css %}
        {% font_awesome %}
        <link rel="stylesheet" href="{% static 'bulma/css/style.min.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/css/bulma-carousel.min.css"/>

        {% block extra_css %}{% endblock extra_css %}

    {% endblock css %}


</head>

{% block barra_navegacion %}

    <nav class="navbar" role="navigation" aria-label="main navigation" style=" box-shadow: 5px 5px 5px #aaaaaa;">
        <div class="navbar-brand" >
            <figure class="image is-128x128">
                <a href="{% url 'inicio' %}">
                    <img class="imageis-rounded" src="{% static  'img/xtremesoft_logo.png' %}" >
                </a>
            </figure>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
               data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="{% url 'inicio' %}">

                 <a class="navbar-item" href="{% url 'ver_panel_administracion' %}">
                    Panel Administración
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Más
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="{% url 'mostrar_productos' %}">
                            Productos
                        </a>
                        <a class="navbar-item is-selected" href="{% url 'mostrar_campos' %}">
                            Campos
                        </a>
                        <a class="navbar-item" href="{% url 'mostrar_eventos' %}">
                            Eventos
                        </a>
                        {% if user.is_authenticated %}
{#                        {% if user.rol == 'ADMIN' %}#}
                            <hr class="navbar-divider">
                            <a class="navbar-item" href="{% url 'ver_empleados' %}">
                                Empleados
                            </a>
                            <a class="navbar-item" href="{% url 'mispedidos' %}">
                                Pedidos
                            </a>
{#                        {% endif %}#}
                        {% endif %}
                    </div>
                </div>
                <a class="navbar-item" href="{% url 'carrito' %}">
                    Carrito
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                         {% if user.is_authenticated %}
                             <a class="button is-light" href="{% url 'do_logout' %}">
                            Cerrar sesión
                            </a>
{#                            <span class="icon is-small is-left">#}
{#                                <i class="fa fa-border fa-shopping-cart"></i>#}
{#                             </span>#}
                           {% else %}
                        <a class="button is-primary" href="{% url 'registro_usuario' %}">
                            <strong>Registrarse</strong>
                        </a>

                        <a class="button is-light" href="{% url 'do_login' %}">
                            Iniciar sesión
                        </a>
                    {% endif %}


                    </div>
                </div>
            </div>
        </div>
    </nav>


{% endblock barra_navegacion %}


</html>

