{% load bulma_tags %}
{% load static bulma_tags %}
{% load static %}

{% include 'barra_navegacion.html' %}

<div class="columns is-mobile is-centered">
    <p class="title is-2" style="color:wheat; margin-top: 100px; margin-bottom: 100px;">Campos de tiro</p>
</div>

    {% block buscador %}
                {% csrf_token %}
                <form method="GET" action="{% url 'buscarcampo' %}">
                    <div class="columns is-mobile is-centered" style="margin-bottom: 2%">
                        <div class="field has-addons">
                            <div class="control">
                                <input class="input" type="text" placeholder=""  name="buscar">
                            </div>
                            <div class="control">
                                <button class="button is-info">
                                    Buscar
                                </button>
                            </div>
                        </div>
                    </div>
                </form>

    {% endblock buscador %}

{% for camp in campos %}

    {% if forloop.counter0|divisibleby:3 %}
        {% if not forloop.first %}
            </div> <!-- Cerrar el contenedor columns si no es el primer elemento -->
        {% endif %}
        <div class="columns"> <!-- Abrir un nuevo contenedor columns cada 3 elementos -->
    {% endif %}

    <div class="column is-one-third-desktop">
        <div class="card" >
            <div class="card-content">

                <div class="content">
                    <figure class="image is-128x128">
                        <img src="{{ camp.image }}"/>
                    </figure>

                    <dhiv class="media-content">
                        <div class="producto-nombre title is-4">{{ camp.nombre }}</div>
                        <div class="producto-descripcion subtitle is-6">{{ camp.aforo }} personas</div>
                        <div class="producto-precio subtitle is-6">{{ camp.localizacion }} €</div>
                    </dhiv>
                </div>

                <div class="card-footer">

                    <a href="{% url 'reservar_campo' id=camp.id%}" class="card-footer-item">Reservar campo</a>
                </div>
            </div>
        </div>
    </div>

    {% if forloop.last %}
        </div> <!-- Asegurarse de cerrar el contenedor columns al final -->
    {% endif %}
{% endfor %}



<style>
    body{
         background: rgb(2,0,36);
        background: linear-gradient(to left, rgba(2,0,36,1), rgba(35,48,35,1) 50%,  rgba(96,126,118,1) 75%);
    }
</style>

{% include 'pie_pagina.html' %}