{% load bulma_tags %}
{% load static bulma_tags %}
{% load static %}

{% include 'barra_navegacion.html' %}

<div class="columns is-mobile is-centered">
    <p class="title is-2">Campos de tiro</p>
</div>

    {% block buscador %}
                {% csrf_token %}
                <form method="GET" action="{% url 'buscarcampo' %}">
                    <div >
                        <input type="text"  placeholder="Buscar..."  name="buscar" >
                        <div >

                        </div>
                    </div>
                </form>

    {% endblock buscador %}

{% for camp in campos %}

    {% if forloop.counter0|divisibleby:3 %}
        {% if not forloop.first %}
            </div> <!-- Cerrar el contenedor columns si no es el primer elemento -->
        {% endif %}
        <div class="columns"> <!-- Abrir un nuevo contenedor columns cada 3 elementos -->
    {% endif %}

    <div class="column is-one-third-desktop">
        <div class="card" >
            <div class="card-content">

                <div class="content">
                    <figure class="image is-128x128">
                        <img src="{{ camp.image }}"/>
                    </figure>

                    <dhiv class="media-content">
                        <div class="producto-nombre title is-4">{{ camp.nombre }}</div>
                        <div class="producto-descripcion subtitle is-6">{{ camp.aforo }} personas</div>
                        <div class="producto-precio subtitle is-6">{{ camp.localizacion }} €</div>
                    </dhiv>
                </div>

                <div class="card-footer">
                    <a href="{% url 'editar_campo_de_tiro' id=camp.id %}" class="card-footer-item" >Editar</a>
                    <a href="{% url 'eliminar_campo_de_tiro'  id=camp.id%}" class="card-footer-item">Eliminar</a>
                </div>
            </div>
        </div>
    </div>

    {% if forloop.last %}
        </div> <!-- Asegurarse de cerrar el contenedor columns al final -->
    {% endif %}
{% endfor %}


<a href="{% url 'crear_campo_de_tiro' %}">
    <button class="button is-normal button is-info">
        Nuevo Campo
    </button>
</a>

{% include 'pie_pagina.html' %}