{% load bulma_tags %}
{% load static bulma_tags %}
{% load static %}

{% include 'barra_navegacion.html' %}


<br>
<div class="columns is-mobile is-justify-content-end" style="margin-right: 20%">
    <p class="title is-6">Vaciar Carrito </p>
    <a href="{% url 'vaciarcarro'%}" class="icon">
        <span class="icon">
            <i class="fas fa-trash"></i>
        </span>
    </a>
</div>


<table class="table" style="margin-left: 25%">
    <thead>
    <tr>
        <th>Imagen</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Cantidad</th>


        <th>Editar</th>
        <th>Eliminar</th>
    </tr>
    </thead>
    <tbody>
        {% for producto in carrito.productos %}

            <tr class="fila">

                <td><img src="{{ producto.foto }}" style="max-width: 100px; border-radius: 80%"></td>
                <td> {{ producto.nombre }} </td>

                <td>{{ producto.precio }} </td>
                <td> {{ producto.cantidad }} </td>

                <td>
                    <a href="/carrito/sumar/{{producto.id}}">
                        <span class="icon">
                            <i class="fas fa-plus"></i>
                        </span>
                    </a>
                    /
                    <a href="/carrito/restar/{{producto.id}}">
                        <span class="icon">
                            <i class="fas fa-minus"></i>
                        </span>
                    </a>
                </td>

                <td>
                    <a href="/carrito/eliminar/{{producto.id}}">
                        <span class="icon">
                            <i class="fas fa-trash"></i>
                        </span>
                    </a>
                </td>

            </tr>
        {% endfor %}
            <tr>
                <td> <h3><b>TOTAL</b></h3></td>
                <td></td>
            <td><h3>{{ carrito.calcular_total }} </h3></td>
        </tr>
    </tbody>
</table>

<div class="columns is-mobile is-justify-content-end" style="margin-right: 20%">
    <p class="title is-6">Hacer Pedido </p>
    <a href="{% url 'hacerpedido'%}" class="icon">
        <span class="icon">
            <i class="fas fa-check"></i>
        </span>
    </a>
</div>


{% include 'pie_pagina.html' %}