{% load bulma_tags %}
{% load static bulma_tags %}
{% load static %}

{% include 'barra_navegacion.html' %}

<div class="columns is-mobile is-centered">
    <p class="title is-2">Crear producto</p>
</div>

<div class="columns is-mobile is-centered">
    <div class="column is-half">
<form action="nuevo_producto/" method="post">

    <div class="columns is-multiline is-mobile">
                    <div class="column is-one-quarter has-text-centered">
                        <label for="name" class="subtitle is-5"> Nombre</label>
                    </div>
                    <div class="column">
                        <input id="name" name="name" type="text" class="input" placeholder="">
                    </div>
                </div>

                <div class="columns is-multiline is-mobile">
                    <div class="column is-one-quarter has-text-centered">
                        <label for="descripcion" class="form-label">Descripción</label>

                    </div>
                    <div class="column">
                        <textarea class="textarea" name="descripcion"  placeholder="Enter your message"></textarea>
                    </div>
                </div>


                <div class="columns is-multiline is-mobile">
                    <div class="column is-one-quarter has-text-centered">
                        <label for="price" class="subtitle is-5"> Precio</label>
                    </div>
                    <div class="column">
                        <input id="price" name="price" type="number" step="0.1" class="input" placeholder="">
                    </div>
                </div>

                <div class="columns is-multiline is-mobile">
                    <div class="column is-one-quarter has-text-centered">
                        <label for="image" class="subtitle is-5"> Image url</label>
                    </div>
                    <div class="column">
                        <input id="image" name="image" type="text" class="input" placeholder="">
                    </div>
                </div>

<div class="columns is-mobile is-centered">
                    <input class="button is-info is-light" type="submit">
                </div>


</form>
    </div>
    </div>


{% include 'pie_pagina.html' %}