
<footer class="footer" style="padding: 2rem 1rem; background-color: #1f6278; color:white; " >
    <div class="content has-text-centered">
        <p>
            <strong>Conéctate con nosotros</strong>
        </p>
        <p>
            <a href="https://facebook.com" target="blank" aria-label="Facebook">
                <span class="icon">
                    <i class="fab fa-facebook-f" style="color: white"></i>
                </span>
            </a>
            <a href="https://twitter.com" target="blank" aria-label="Twitter">
                <span class="icon">
                    <i class="fab fa-twitter" style="color: white"></i>
                </span>
            </a>
            <a href="https://instagram.com" target="blank" aria-label="Instagram">
                <span class="icon">
                    <i class="fab fa-instagram" style="color: white"></i>
                </span>
            </a>
        </p>
        <p>
            <a href="" style=" color: white">Contáctanos</a>
        </p>
    </div>
</footer>