{% load bulma_tags %}
{% load static bulma_tags %}
{% load static %}

{% include 'barra_navegacion.html' %}

<h1 class="title" style="margin-left: 5%; margin-top: 1%">Tu Perfil</h1>


<div class="columns" style="margin-bottom: 10%; margin-top: 3%">
    <div class="column">
      <div>
          <h1 class="subtitle" style="margin-left: 5%">Nombre</h1>
          <h1 style="margin-left: 5%" >{{ user.username }}</h1>
      </div>
    </div>
    <div class="column">
      <div>
          <h1 class="subtitle" >Email</h1>
          <h1 >{{ user.email }}</h1>
      </div>
    </div>
    <div class="column">
      <div>
          <h1 class="subtitle" >Fecha de Nacimiento</h1>
          <h1 >{{ user.birthdate }}</h1>
      </div>
    </div>

    <div class="column">
        <h1 class="subtitle">Acciones</h1>
        <div class="columns is-mobile">
              <div class="column " >
                  <a href="{% url 'mispedidos' %}">
                      <button class="button" >Pedidos</button>
                  </a>
              </div>

              <div class="column">
                  <a href="{% url 'misreservas' %}">
                      <button class="button" >Reservas</button>
                  </a>
              </div>
        </div>
    </div>
</div>


<style>
.button {
  position: relative;
  background-color: #04AA6D;
  border: none;
  font-size: 16px;
  color: #FFFFFF;
  padding: 20px;
  width: 100px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.button:after {
  content: "";
  background: #90EE90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
</style>




{% include 'pie_pagina.html' %}

