{% load bulma_tags %}
{% load static bulma_tags %}
{% load static %}

{% include 'barra_navegacion.html' %}

<div class="columns is-mobile is-centered" style="margin-top: 100px; margin-bottom: 75px">
    <p class="title is-2" style="color:wheat">Nuestros productos</p>
</div>
    {% block buscador %}
                {% csrf_token %}
                <form method="GET" action="{% url 'buscarproducto' %}">
                    <div class="columns is-mobile is-centered" style="margin-bottom: 2%">
                        <div class="field has-addons">
                            <div class="control">
                                <input class="input" type="text" placeholder=""  name="buscar">
                            </div>
                            <div class="control">
                                <button class="button is-info">
                                    Buscar
                                </button>
                            </div>
                        </div>
                    </div>
                </form>


    {% endblock buscador %}

{% for prod in productos %}


    {% if forloop.counter0|divisibleby:3 %}
        {% if not forloop.first %}
            </div> <!-- Cerrar el contenedor columns si no es el primer elemento -->
        {% endif %}
        <div class="columns"> <!-- Abrir un nuevo contenedor columns cada 3 elementos -->
    {% endif %}

    <div class="column is-one-third-desktop">
        <div class="card" >
            <div class="card-content">

                <div class="content">
                    <figure class="image is-50x50">
                        <img src="{{ prod.foto }}"/>
                    </figure>

                    <dhiv class="media-content">
                        <div class="producto-nombre title is-4">{{ prod.nombre }}</div>
                        <div class="producto-descripcion subtitle is-6">{{ prod.descripcion }}</div>
                        <div class="producto-precio subtitle is-6">{{ prod.precio }} €</div>
                    </dhiv>
                </div>

                <div class="card-footer">
                     {% if user.is_authenticated %}
                    <a href="{% url 'editar_producto' id=prod.id %}" class="card-footer-item" >Editar</a>
                    <a href="{% url 'eliminar_producto'  id=prod.id%}" class="card-footer-item">Eliminar</a>
                    {% endif %}
                    <a href="{% url 'añadiralcarro' id=prod.id %}" class="card-footer-item"><span class="icon is-small is-left">
                        <i class="fa fa-border fa-shopping-cart"  style="margin-right: 20px"></i></span>
                        Añadir al carrito
                    </a>
                </div>
            </div>
        </div>
    </div>

    {% if forloop.last %}
        </div> <!-- Asegurarse de cerrar el contenedor columns al final -->
    {% endif %}
{% endfor %}


<a href="{% url 'crear_producto' %}">
    <button class="button is-normal button is-info">
        Nuevo producto
    </button>
</a>

<style>
    body{
         background: rgb(2,0,36);
        background: linear-gradient(to left, rgba(2,0,36,1), rgba(35,48,35,1) 50%,  rgba(96,126,118,1) 75%);
    }
</style>

{% include 'pie_pagina.html' %}