{% load bulma_tags %}
{% load static bulma_tags %}
{% load static %}

{% include 'barra_navegacion.html' %}

<div class="columns is-mobile is-centered">
    <p class="title is-2">Nuestros productos</p>
</div>

{% for prod in productos %}

 <div class="column is-one-third">

<div class="card" style="min-height: 225px">
  <div class="card-content">

    <div class="content">
        <figure class="image is-128x128">
            <img src="{{ prod.foto }}"/>
        </figure>

        <div class="media-content">
            <div class="producto-nombre title is-4" >{{ prod.nombre }}</div>
            <div class="producto-descripcion subtitle is-6">{{ prod.descripcion }}</div>
            <div class="producto-precio subtitle is-6" >{{ prod.precio }} €</div>
        </div>
  </div>

    <footer class="card-footer">
        <a href="#" class="card-footer-item">Editar</a>
        <a href="#" class="card-footer-item">Eliminar</a>
    </footer>
        </div>
    </div>
</div>
{% endfor %}
<a href="{% url 'crear_producto' %}">
<button class="button is-normal button is-info" >
    Nuevo producto
</button>
</a>

{% include 'pie_pagina.html' %}